*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
*.sublime-*
*DS_Store

deployment/fabconfigs/_*
deployment/nginx/_*
deployment/nginx/configs/_*
deployment/m4ed/_*
deployment/redis/_*
deployment/mongo/_*
development.ini
assets.ini
server_config.ini
.coverage
.tox/
nosetests.xml
pyramid/coverage.xml
tutorial.db
build/
dist/
bin/
tmp/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
m4ed/
bootstrap/

