*.egg
*.egg-info
*.pyc
*$py.class
*.pt.py
*.txt.py
*~
*.sublime-*
*.min.css

server_config.ini
.coverage
.tox/
nosetests.xml
pyramid/coverage.xml
tutorial.db
build/
dist/
bin/
tmp/
include/
.idea/
distribute-*.tar.gz
bookenv/
jyenv/
pypyenv/
env*/
