// EDITOR STYLE
// -----------------------------------------

@import "m4ed.less";   // m4ed base style
@import "upload.less"; // jQuery File Upload

@import "textext/textext.core.less";
@import "textext/textext.plugin.tags.less";


// Item list
// -----------------------------------------

.ui-sortable {
  list-style-type: none;
  margin: 0;
  .user-select(none);
}

// Items
// -----------------------------------------

.item {

  .well;

  position: relative;

  &.lesson {
    background-color: @grayLight3;
  }
  .desc {
    margin-bottom: 0;
  }

  .item-icon {
    .pull-left;
    img {
      .border-radius(5px);
    }
  }

  .item-content {
    margin-left: 60px;
    min-height: 48px;
  }

  .handle {
    display: none;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 48px;
    background: url('../img/sort-arrow.png') no-repeat center;
  }

}

// Title and description edit
// -----------------------------------------

input.edit {
  display: none;
}

.editing > .view {
  display: none;
}

.editing > .edit {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}


// Editor
// -----------------------------------------

.editor {
  .btn-toolbar {
    height: auto;
    margin-top: 0;
  }

  // Editor textarea
  // -----------------------------------------

  .editor-textarea {
    height: 294px;
    overflow: auto;
    resize: none;
  }


  // Editor preview
  // -----------------------------------------

  .preview {
    height: 286px;
    overflow: auto;
    padding: 8px;
    margin-bottom: 8px;
    .user-select(auto);
    background-color: @infoBackground;
    border: 1px solid @infoBorder;
    .border-radius(3px);
    box-shadow: inset 0 0 24px @infoBorder,
                      0 0  8px #fff;
  }


  // Asset container (Elastislide)
  // -----------------------------------------

  .asset-container {

    padding:0px 46px;
    margin-top: 8px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 7px #aaa;
    .user-select(none);

  }

  .es-nav span {
    position:absolute;
    top:18px;
    left:12px;
    background:transparent url(../img/slider-arrow.png) no-repeat top left;
    width:22px;
    height:93px;
    margin-top:0px;
    text-indent:-9000px;
    cursor:pointer;
    opacity:0.8;

    &:hover {opacity:1.0;}

    &.es-nav-next{
      right:12px;
      left:auto;
      background-position:top right;
    }

  }

  .es-carousel {
    overflow:hidden;

    ul {
      display:block;

      li {
        width: 106px;
        height: 122px;
        float:left;
        position:relative;
        display:block;

        img {
          width: 90px;
          height: 90px;
          margin: 16px 8px; 
          box-shadow: 0 0 7px #ccc;
        }

        .btn {
          position: absolute;
          top: 12px;
          left: 4px;
          z-index: 1;
        }

        .btn-edit {
          left: auto;
          right: 4px;
        }

        .btn-insert {
          margin-left: -18px;
          margin-top: -14px;
          left: 50%;
          top: auto;
          bottom: 20px;
        }

      }

    }

  }

}

// Fix for a bug in modal 
// when responsive layout is used
// -----------------------------------------

.modal.fade.in {
  margin-top: -25%;
  top: 50%;
}

// Asset editor
// -----------------------------------------

.asset-editor {
  .asset-editor-nav {
    margin-right: 20px;
  }
  .modal-body {
    position: relative;
    padding-left: 122px;
    min-height: 90px;
  }
  .asset-preview {
    position: absolute;
    top: 16px;
    left: 16px;
  }
  .title {
    margin-bottom: 8px;
  }
  .tags {
    width: 420px;
  }
}


// File upload
// -----------------------------------------

.modal-upload {

  margin-top: -210px;
  width: 800px;
  margin-left: -400px;
  max-height: none;
  overflow: hidden;
  .user-select(none);

  .modal-header {
    position:relative;
  }

  #upload-folder-dropdown {
    position: absolute;
    top: 50%;
    margin-top: -14px;
    left: 160px;
  }

  .modal-body {
    position: relative;
    padding: 8px;
    height: 320px;
    table {
      margin: 0;
      background-color: @white;
    }
    .fileupload-progress {
      margin-bottom: 8px;
    }
    .drop-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -80px;
      margin-left: -300px;
      background: url('../img/drop-area.png') no-repeat center top;
      height: 160px;
      width: 600px;
      text-align: center;
      z-index: -100;
    }
    .drop-text {
      position: absolute;
      bottom: 0;
      width: 100%;
      color: @grayLight2;
    }
  }
  .preview img {
    max-width: 36px;
    max-height: 36px;
  }
}
