// EDITOR STYLE
// -----------------------------------------

@import "m4ed.less";

// Item list
// -----------------------------------------

.ui-sortable {
  list-style-type: none;
  margin: 0;
  .user-select(none);
}

// Items
// -----------------------------------------

.item {

  .well;

  position: relative;

  &.lesson {
    background-color: @graySemiLight;
  }
  .desc {
    margin-bottom: 0;
  }

  .item-icon {
    .pull-left;
    img {
      .border-radius(5px);
    }
  }

  .item-content {
    margin-left: 60px;
    min-height: 48px;
  }

  .handle {
    display: none;
    position: absolute;
    left: auto;
    right: 8px;
    top: 8px;
    width: 24px;
    height: 48px;
    background: url('../img/sort-arrow.png') no-repeat center;
  }

}

// Title and description edit
// -----------------------------------------

input.edit {
  display: none;
}

.editing > .view {
  display: none;
}

.editing > .edit {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}


// Editor
// -----------------------------------------

.editor {
  .btn-toolbar {
    height: auto;
    margin-top: 0;
  }
}

// Editor textarea
// -----------------------------------------

.editor-textarea {
  height: 294px;
  overflow: auto;
  resize: none;
}


// Editor preview
// -----------------------------------------

.preview {
  height: 286px;
  overflow: auto;
  padding: 8px;
  margin-bottom: 8px;
  .user-select(auto);
  background-color: @infoBackground;
  border: 1px solid @infoBorder;
  .border-radius(3px);
  box-shadow: inset 0 0 24px @infoBorder,
                    0 0  8px #fff;
}


// Asset container (Elastislide)
// -----------------------------------------

.asset-container {

  padding:0px 46px;
  margin-top: 8px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 7px #aaa;
  .user-select(none);

}

.es-nav span {
  position:absolute;
  top:18px;
  left:12px;
  background:transparent url(../img/slider-arrow.png) no-repeat top left;
  width:22px;
  height:93px;
  margin-top:0px;
  text-indent:-9000px;
  cursor:pointer;
  opacity:0.8;

  &:hover {opacity:1.0;}

  &.es-nav-next{
    right:12px;
    left:auto;
    background-position:top right;
  }

}

.es-carousel {
  overflow:hidden;

  ul {
    display:block;

    li {
      width: 166px;
      height: 132px;
      float:left;
      position:relative;
      display:block;

      img {
        width: 150px;
        height: 100px;
        margin: 16px 8px; 
        box-shadow: 0 0 7px #ccc;
      }

      .btn {
        position: absolute;
        top: 12px;
        left: 4px;
        z-index: 1;
      }

      .btn-remove {
        position: absolute;
        left: auto;
        right: 4px;
      }

    }

  }

}

/*
 * jQuery File Upload UI Plugin CSS 6.3
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  margin-right: 4px;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 100px 200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
}
.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.files .progress {
  width: 200px;
}
.progress-animated .bar {
  background: url(../img/progressbar.gif) !important;
  filter: none;
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}
.fileupload-processing .fileupload-loading {
  display: block;
}

/* Fix for IE 6: */
*html .fileinput-button {
  line-height: 22px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
*+html .fileinput-button {
  margin: 1px 0 0 0;
}

@media (max-width: 480px) {
  .files .btn span {
    display: none;
  }
  .files .preview * {
    width: 40px;
  }
  .files .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .files .progress {
    width: 20px;
  }
  .files .delete {
    width: 60px;
  }
}
