// Custom variables
// -----------------------------------------
@grayLight2:         #bbb;
@headerColor:        #d8ffc9;

@itemColor:          #f5f5f5;
@itemTextColor:      inherit;
@itemTextShadow:     0 -1px 0 rgba(255,255,255,.25);

@previewBackground:  #d9edf7;
@previewBorder:      darken(spin(@previewBackground, -10), 15%);

@assetContainerBackground:  #fcfcfc;
@assetContainerBorder:      darken(spin(@assetContainerBackground, -10), 15%);