// Custom variables
// -----------------------------------------
@grayLight2:         #bbb;
@breadcrumbColor:    #2c5500;
@breadcrumbTextColor:     #9bbf75;
@breadcrumbTextShadow:     ~"0 1px 0 rgba(255,255,255,.6), 0 -1px 0 rgba(0,0,0,.6)";

@backgroundColor:	 #0e0e0e;
@backgroundImage:	 url("../img/bg.png");

@itemColor:          #eaeaea;
@itemTextColor:      inherit;
@itemTextShadow:     none; /*~"0 1px 0 rgba(255,255,255,.3), 0 -1px 0 rgba(0,0,0,.6)";*/

@selectedItemColor:  #abd280;
@selectedItemTextColor: #335013;

@previewBackground:  #d9edf7;
@previewBorder:      darken(spin(@previewBackground, -10), 15%);

@assetContainerBackground:  #fcfcfc;
@assetContainerBorder:      darken(spin(@assetContainerBackground, -10), 15%);