// MAIN LESS FOR THE EDITOR
// -----------------------------------------


@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";

@import "editor-icons.less";

// Custom colors
// -------------------------
@graySemiLight:         #ddd;

.container {
  padding-top: 20px;
} 

.well {
  padding: 8px;
  margin: 8px -9px; // Negative horizontal margin to remove padding and border space
}

.item {
  .lesson {
    background-color: @graySemiLight;
  }
  .desc {
    margin-bottom: 0;
  }
}

.item-icon {
  .pull-left;
  img {
    .border-radius(5px);
  }
}

.item-content {
  margin-left: 60px;
  min-height: 48px;
}
#editor {
  .row {
    margin-top: 8px;
  }
  .btn-group {
    margin-bottom: 8px;
  }
}

.editor-textarea {
  height: 264px;
  resize: vertical;
}

.picture-container {
  margin-top: 8px;
  padding: 7px;
  // height: 240px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0 7px #aaa;
}

.hidden {
  display: none;
}

.title > .edit {
  display: none;
}

.title.editing > .view {
  display: none;
}

.title.editing > .edit {
    display: block;
    margin: 0;
    width: 200px;
}

// .ui-resizable-se {
//  bottom: 17px;
// }

.preview {
  min-height: 256px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: @infoBackground;
  border: 1px solid @infoBorder;
  .border-radius(3px);
  box-shadow: inset 0 0 24px @infoBorder,
                    0 0  8px #fff;
}

img.picture {
 box-shadow: 0 0 7px #ccc;
 margin: 7px;
}

