// MAIN LESS FOR THE EDITOR
// -----------------------------------------


@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";

@import "editor-icons.less";

// Custom colors
// -------------------------
@graySemiLight:         #e6e6e6;


// Global classes
// -----------------------------------------

.hidden {
  display: none;
}

.btn-circle {
  .border-radius(10px);
  padding: 3px;
  line-height: 0;
}

// Item list
// -----------------------------------------

.container {
  padding-top: 20px;
  .user-select(none);
} 

.ui-sortable {
  list-style-type: none;
  margin: 0;
}

// Items
// -----------------------------------------

.well {
  padding: 8px;
  margin: 8px -9px; // Negative horizontal margin to remove padding and border space
}

.item {
  &.lesson {
    background-color: @graySemiLight;
  }
  .desc {
    margin-bottom: 0;
  }
}

.item-icon {
  .pull-left;
  img {
    .border-radius(5px);
  }
}

.item-content {
  margin-left: 60px;
  min-height: 48px;
}


// Title and description edit
// -----------------------------------------

input.edit {
  display: none;
}

.editing > .view {
  display: none;
}

.editing > .edit {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  border: 0;
}


// Editor
// -----------------------------------------

.editor {
  .btn-toolbar {
    height: auto;
    margin-top: 0;
  }
}

// Editor textarea
// -----------------------------------------

.editor-textarea {
  height: 294px;
  overflow: auto;
  resize: none;
}


// Editor preview
// -----------------------------------------

.preview {
  height: 286px;
  overflow: auto;
  padding: 8px;
  margin-bottom: 8px;
  .user-select(auto);
  background-color: @infoBackground;
  border: 1px solid @infoBorder;
  .border-radius(3px);
  box-shadow: inset 0 0 24px @infoBorder,
                    0 0  8px #fff;
}


// Asset container (Elastislide)
// -----------------------------------------

.asset-container {

  padding:0px 46px;
  margin-top: 8px;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  height: auto;
  background-color: #fff;
  box-shadow: 0 0 7px #aaa;
  .user-select(none);

}

.es-nav span {
  position:absolute;
  top:18px;
  left:12px;
  background:transparent url(../img/slider-arrow.png) no-repeat top left;
  width:22px;
  height:93px;
  margin-top:0px;
  text-indent:-9000px;
  cursor:pointer;
  opacity:0.8;

  &:hover {opacity:1.0;}

  &.es-nav-next{
    right:12px;
    left:auto;
    background-position:top right;
  }

}

.es-carousel {
  overflow:hidden;

  ul {
    display:block;

    li {
      width: 166px;
      height: 132px;
      float:left;
      position:relative;
      display:block;

      img {
        width: 150px;
        height: 100px;
        margin: 16px 8px; 
        box-shadow: 0 0 7px #ccc;
      }

      .btn {
        position: absolute;
        top: 12px;
        left: 4px;
        z-index: 1;
      }

      .btn-remove {
        position: absolute;
        left: auto;
        right: 4px;
      }

    }

  }

}
