// main lesscss style sheet for livemockup

@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";

// Custom colors
// -------------------------
@graySemiLight:         #ddd;

// body {
//  font-size: 1em;
//  font-family: Trebuchet MS, sans-serif;
//  text-shadow: 1px 1px 0 #fff,
//         -1px -1px 0 #eee;
// }

// a {  
//  text-decoration: none;
// }

// #content { 
//  width: 100%;
//  max-width: 720px;
//  margin: 10px auto;  
// }

.container {
  padding-top: 20px;
} 

.well {
  padding: 8px;
  margin: 8px -9px; // Negative horizontal margin to remove padding and border space
}

.item {
  .lesson {
    background-color: @graySemiLight;
  }
  .desc {
    margin-bottom: 0;
  }
}

.item-icon {
  .pull-left;
  img {
    .border-radius(5px);
  }
}

.item-content {
  margin-left: 60px;
  min-height: 48px;
}

// .item-controls {
//  float: right;
//  padding: 12px 0;
// }

// .control-button {
//  display: inline-block;
//  width: 24px;
//  height: 24px;
//  opacity:0.4;
//  overflow: hidden;
// }

// .control-button:hover {
//  opacity: 1.0;
// }

// .control-button img {
//  vertical-align: bottom;
//  width: 24px;
//  height: 24px;
// }

// .item .title {
//  font-size: 90%;
//  font-weight: bold;
// }

// .item .desc {
//  font-size: 80%;
//  color: #666;
//  margin-top: 5px;
//  height: 28px;
//  overflow: hidden;
//  text-overflow: ellipsis;
// }

// .item.collapsed {
//  /*height: auto;*/
// }

// #editor {
//  margin-top: 10px;
//  display: none;
// }

// #textarea-preview-wrapper {
//  width: 100%;
// }

// #textarea-preview-wrapper td {
//  width: 50%;
//  vertical-align: top;
// }

// #textarea-container {
//  padding-right: 4px;
// }

#editor {
  .row {
    margin-top: 8px;
  }
  .btn-group {
    margin-bottom: 8px;
  }
}

.editor-textarea {
  height: 264px;
  resize: vertical;
}

.picture-container {
  margin-top: 8px;
  padding: 7px;
  // height: 240px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 0 7px #aaa;
}

// .ui-resizable-se {
//  bottom: 17px;
// }

// #preview-container {
//  padding-left: 4px;
// }

.preview {
  min-height: 256px;
  padding: 8px;
  margin-bottom: 8px;
  background-color: @infoBackground;
  border: 1px solid @infoBorder;
  .border-radius(3px);
  box-shadow: inset 0 0 24px @infoBorder,
                    0 0  8px #fff;
}

// #pointing-arrow {
//  height: 16px;
// }

// #pointing-arrow img {
//  margin-left: 110px;
// }

// img.picture {
//  display: inline-block;
//  width: 146px;
//  height: 96px;
//  background-color: #eee;
//  box-shadow: 0 0 7px #ccc;
//  margin: 7px;
// }

// #add-picture {
//  opacity: 0.3;
//  background: #eee url('/static/icons/32x32/add.png') no-repeat center; 
// }

// #add-picture:hover {
//  opacity: 0.7;
// }
